{% extends 'base.html.twig' %}

{% block title %}
    About ACM at UCR
{% endblock %}

{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ asset('js/index/ie/html5shiv.js') }}"></script><![endif]-->
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/index/main.css') }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('css/index/ie9.css') }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/index/ie8.css') }}" /><![endif]-->
{% endblock %}

{% block javascripts %}
    <!-- Scripts -->
	<script src="{{ asset('js/index/skel.min.js') }}"></script>
	<script src="{{ asset('js/index/util.js') }}"></script>
	<!--[if lte IE 8]><script src="{{ asset('js/index/ie/respond.min.js') }}"></script><![endif]-->
	<script src="{{ asset('js/index/main.js') }}"></script>
{% endblock %}

{% block body %}
<body class="single">
	<!-- Wrapper -->
	<div id="wrapper">
        {% include 'components/header.html.twig' %}
        {% include 'components/menu.html.twig' %}

		<!-- Main -->
		<div id="main">
			<!-- Post -->
			<article class="post">
                <h1> ACM at UCR </h1>
				<p>
                    ACM at UCR is one of the largest student-run technical
                    community in Riverside, CA. Our goal is to help members
                    develop their technical and professional skills that will
                    help them in school and in industry. We aim to accomplish
                    our goal by providing technical workshops, professional
                    events, and providing opportunities for our members to
                    excel.
                </p>
                <p>
                    Email: 
                    <a href="mailto:contact@acmucr.org">contact@acmucr.org</a>
                </p>
                <hr />
                <h1> When are your general meetings? </h1>
				<p>
                    Meeting times for Fall 2017 will be announced soon.
                </p>
                <hr />
                <h1> Where is your clubroom? </h1>
				<p>
                    Our clubroom is located on the first floor of
                    Winston Chung Hall room 127. WCH 127! We have computers,
                    whiteboards, a microwave, lockers that you can rent, and
                    much more. We are continually looking for ways to improve
                    our room.
                </p>
                <p>
                    Have a suggestion on how we can improve our room?
                    <a href="mailto:contact@acmucr.org">Contact us!</a>
                </p>
                <hr />
                <h1> How can I become a member? </h1>
				<p>
                    Membership for our chapter is $20 per year. Get in touch
                    with any officer during our general meetings, events, or
                    clubroom to become a member. We accept cash and Venmo
                    payments.
                </p>
                <hr />
                <h1>What are the benefits of becoming an ACM at UCR member?</h1>
				<p>
                    <ul>
                        <li>Clubroom Access</li>
                        <li>Free T-Shirt!</li>
                        <li>Priority Registration for limited space events</li>
                        <li>Priority Workshop registration</li>
                        <li>Ability attend tech tours</li>
                        <li>Locker access</li>
                    </ul>
                </p>
                <hr />
                <h1> How can I become more involved with ACM at UCR? </h1>
				<p>
                    You can be more involved with <strong>ACM at UCR</strong>
                    simply by attending any of our events. 
                    If you're interested in being on the board of ACM, 
                    get in touch with the President or Vice President.
                </p>
                <hr />
                <h1> Is your question not here? </h1>
                <p>
                    Send us an email at 
                    <a href="mailto:contact@acmucr.org">contact@acmucr.org</a>!
                    <br />
                    We'd love to hear from you! 
                </p>
			</article>
		</div>
        {% include 'components/footer.html.twig' %}
	</div>
</div>
{% endblock body %}
