{% extends 'base.html.twig' %}

{% block title %}
    ICPC Practice Questions ACM at UCR
{% endblock %}

{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ asset('js/index/ie/html5shiv.js') }}"></script><![endif]-->
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/index/main.css') }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('css/index/ie9.css') }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/index/ie8.css') }}" /><![endif]-->
{% endblock %}

{% block javascripts %}
    <!-- Scripts -->
	<script src="{{ asset('js/index/skel.min.js') }}"></script>
	<script src="{{ asset('js/index/util.js') }}"></script>
	<!--[if lte IE 8]><script src="{{ asset('js/index/ie/respond.min.js') }}"></script><![endif]-->
	<script src="{{ asset('js/index/main.js') }}"></script>
{% endblock %}

{% block body %}
<body class="single">
	<!-- Wrapper -->
	<div id="wrapper">
        {% include 'components/header.html.twig' %}
        {% include 'components/menu.html.twig' %}

		<!-- Main -->
		<div id="main">
			<!-- Post -->
			<article class="post">
				<h1> Competitive Programming ACM@UCR Fall 2017 Practice </h1>
				<p> Meeting on Mondays from 9:00 AM - Noon </p>

				<h2>Week 8</h2>
				<h3>Lower Div</h3>
				<ul>
					<li><a href="https://github.com/jjkjiang/UCR-ICPC/blob/master/Fall-2017/Week-8/11-20-17.pdf">Jerry's Problemset 1</a></li>
					<li><a href="https://github.com/jjkjiang/UCR-ICPC/tree/master/Fall-2017/Week-8/Solutions">Solutions</a></li>
				</ul>
				<h3>Upper Div</h3>
				<ul>
					<li><a href="https://code.google.com/codejam/contest/4224486/dashboard">Google Code Jam 2015 Round 1A</a></li>
					<li><a href="https://code.google.com/codejam/contest/4224486/dashboard#s=a">Solutions </a></li>
				</ul>
				<hr />

				<h2>Week 9</h2>
				<h3>Lower Div</h3>
				<ul>
					<li><a href="http://codeforces.com/contest/893">Educational Codeforces Round 33</a></li>
					<li><a href="http://codeforces.com/blog/entry/55989">Solutions</a></li>
				</ul>
				<h3>Upper Div</h3>
				<ul>
					<li><a href="http://codeforces.com/contest/893">Educational Codeforces Round 33</a></li>
                    <li><a href="http://codeforces.com/blog/entry/55989">Solutions</a></li>
				</ul>
			</article>
		</div>
        {% include 'components/footer.html.twig' %}
	</div>
</div>
{% endblock body %}
