{% extends 'base.html.twig' %}

{% block title %}
    About ACM at UCR
{% endblock %}

{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ asset('js/index/ie/html5shiv.js') }}"></script><![endif]-->
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/index/main.css') }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('css/index/ie9.css') }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/index/ie8.css') }}" /><![endif]-->
    <link rel="stylesheet" href="{{ asset('css/index/about.css') }}" />
{% endblock %}

{% block javascripts %}
    <!-- Scripts -->
	<script src="{{ asset('js/index/skel.min.js') }}"></script>
	<script src="{{ asset('js/index/util.js') }}"></script>
	<!--[if lte IE 8]><script src="{{ asset('js/index/ie/respond.min.js') }}"></script><![endif]-->
	<script src="{{ asset('js/index/main.js') }}"></script>
{% endblock %}

{% block body %}
<body class="single">
	<!-- Wrapper -->
	<div id="wrapper">
        {% include 'components/header.html.twig' %}
        {% include 'components/menu.html.twig' %}

		<!-- Main -->
		<div id="main">
			<!-- Post -->
			<article class="post">
                <h1 class="text-center"> ACM at UCR Board 2017 - 2018 </h1>
                <div class="profiles">
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/john.jpg') }}" />
                        <h3> John Pham </h2>
                        <span class="title"> President </h3>
                        <br />
                        <a class="email" href="mailto:john@acmucr.org"> john@acmucr.org </a>
                        <a class="button" href="https://www.linkedin.com/in/johnpham97/">LinkedIn</a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/patrick.jpg') }}" />
                        <h3> Patrick Le </h2>
                        <span class="title"> Vice President </h3>
                        <br />
                        <a class="email" href="mailto:patrick@acmucr.org"> patrick@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/aaroh.jpg') }}" />
                        <h3> Aaroh Mankad </h3>
                        <span class="title"> Secretary  </h3>
                        <br />
                        <a class="email" href="mailto:aaroh@acmucr.org"> aaroh@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/sid.jpg') }}" />
                        <h3> Sid Sharma </h3>
                        <span class="title"> Treasurer </h3>
                        <br />
                        <a class="email" href="mailto:sid@acmucr.org"> sid@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/neal.jpg') }}" />
                        <h3> Neal Goyal </h3>
                        <span class="title"> Outreach Chair </h3>
                        <br />
                        <a class="email" href="mailto:neal@acmucr.org"> neal@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/maaz.jpg') }}" />
                        <h3> Maaz Mohamedy </h3>
                        <span class="title"> Marketing Chair </h3>
                        <br />
                        <a class="email" href="mailto:maaz@acmucr.org"> maaz@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/daniel.jpg') }}" />
                        <h3> Daniel Stinson-Diess </h3>
                        <span class="title"> Fundraising Chair </h3>
                        <br />
                        <a class="email" href="mailto:daniel@acmucr.org"> daniel@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/katie.jpg') }}" />
                        <h3> Katie Fukuda </h3>
                        <span class="title"> Membership Chair </h3>
                        <br />
                        <a class="email" href="mailto:katie@acmucr.org"> katie@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/henry.jpg') }}" />
                        <h3> Henry Doan </h3>
                        <span class="title"> Professional Development Chair </h3>
                        <br />
                        <a class="email" href="mailto:henrydoan@acmucr.org"> henrydoan@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/zach.jpg') }}" />
                        <h3> Zachary Zimmerman </h3>
                        <span class="title"> Graduate Advisor </h3>
                        <br />
                        <a class="email" href="mailto:zach@acmucr.org"> zach@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/brian.jpg') }}" />
                        <h3> Brian Crites </h3>
                        <span class="title"> Graduate Advisor </h3>
                        <br />
                        <a class="email" href="mailto:briancrites@acmucr.org"> briancrites@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/zhijia.jpg') }}" />
                        <h3> Zhijia Zhao, PhD </h3>
                        <span class="title"> Faculty Advisor </h3>
                        <br />
                        <a class="email" href="mailto:zhijia@cs.ucr.edu"> zhijia@cs.ucr.edu </a>
                    </div>
                </div>
			</article>
		</div>
        {% include 'components/footer.html.twig' %}
	</div>
</div>
{% endblock body %}
