{% extends 'base.html.twig' %}

{% block title %}
    ACM at UCR | Admin
{% endblock %}

{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ asset('js/index/ie/html5shiv.js') }}"></script><![endif]-->
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/index/main.css') }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('css/index/ie9.css') }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/index/ie8.css') }}" /><![endif]-->
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
{% endblock %}

{% block javascripts %}
    <!-- Scripts -->
	<script src="{{ asset('js/index/skel.min.js') }}"></script>
	<script src="{{ asset('js/index/util.js') }}"></script>
	<!--[if lte IE 8]><script src="{{ asset('js/index/ie/respond.min.js') }}"></script><![endif]-->
	<script src="{{ asset('js/index/main.js') }}"></script>
{% endblock %}

{% block body %}
<body class="single">
	<!-- Wrapper -->
	<div id="wrapper">
        {% include 'components/header.html.twig' %}
        {% include 'components/menu.html.twig' %}

		<!-- Main -->
		<div id="main">
			<!-- Post -->
			<article class="post">
                <h1> Admin home! </h1>
                <hr />
                <h3> Posts </h3>
                <p>
                    <a href={{ path('event_new') }} class="button big new_post_button"> New Event </a>
                    Create a new upcoming event. Before creating, make sure you have also made the event on Facebook.
                </p>
                <p>
                    <a href={{ path('new_post') }} class="button big new_post_button"> New Post </a>
                    Create a new post! 
                </p>
                <hr />
                <h3> Events </h3>
                <p>
                    <a href={{ path('swiper_home') }} class="button big new_post_button"> Card Swiper </a>
                    Take attendance for an event!
                </p>
                <p>
                    <a href={{ path('events_attendance') }} class="button big new_post_button"> Attendance </a>
                    See attendance for past events
                </p>
                <hr />
                <h3> Users </h3>
                <p>
                </p>
			</article>
		</div>
	</div>
</div>
{% endblock body %}